{% extends 'layout.html' %}
{% load static %}

{% block content %}
<header>
    <div class="row">
        <h4>{{ new.rubric.name }}</h4>
        <article>
            <div class="twelve columns">
                <h1>{{ new.title }}</h1>
                <p class="excerpt">
                    {{ new.keywords }}
                </p>
            </div>
        </article>
    </div>
</header>

<section class="section_light">
    <div class="row">
        <p>
            {% if new.image %}
                <img src="{{ MEDIA_URL }}{{ new.image.url }}" alt="desc" width=400 align=left hspace=30>
            {% endif %}
            {{ new.annotation }}
        </p>
    </div>
    <div class="row mt-2">
        <div class="hashtags">
            {% for tag in new.Hashtags.all %}
                <a href="{% url 'hashtag' tag.id %}">#{{tag.name}}</a>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}