<nav>
    <div class="twelve columns header_nav">
        <div class="row">
            <ul id="menu-header" class="nav-bar horizontal">
                <li><a class="{% if not rubric_id %}menu-header_selected{% endif %}"
                       href="{% url 'index' %}">Главная</a></li>
                {% for rubric in rubrics %}
                    <li><a class="{% if rubric_id == rubric.id %}menu-header_selected{% endif %}"
                           href="{% url 'rubric' rubric.id %}">{{ rubric }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div style="position: absolute; width:100px; top: 00px; right:0">
            {% if request.user.is_authenticated %}
                <h4>{{ request.user.get_username }}</h4>
                <a href="{% url 'logout' %}?next={{ request.path }}">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
            {% endif %}
        </div>
    </div>
</nav>